<!DOCTYPE html>
<html lang="en" ng-app="amort">

<head>
    <title>Amortize</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" id="font-awesome-cdn-css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.4.1" type="text/css" media="all">
    <link href="https://plataforma.finve.mx/css/app.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="https://www.finve.mx/">
                    <figure>
                        <img src="https://plataforma.finve.mx/img/basic/finve-logo.png" alt="Finve Inversión y préstamos Logo Colores" class="img-responsive" />
                    </figure>
                </a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-login" href="https://plataforma.finve.mx">Sesión/Registro&nbsp;<i class="fa fa-sign-in"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container border">
        <h2>Simulador de Inversiones</h2>
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Selecciona una tasa de interés efectiva</h3>
                    </div>
                    <div class="panel-body">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table table-sm" style="">
                                    <tr>
                                        <td>8</td>
                                        <td>
                                            <input type="range" id="a" name="a" value="14" min="8" max="20" ng-model="interest_rate">
                                        </td>
                                        <td>20</td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Ingresa tu inversión</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-sm" style="">
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        $&nbsp;
                                        <input type="number" min="1000" max="60000" step="1000" value="1000" ng-model="loan_amount">&nbsp;MXN
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Selecciona el plazo</h3>
                    </div>
                    <div class="panel-body">
                        <table class="">
                            <tr>
                                <td>
                                    <select ng-model="meses.month" ng-options="month.lookupCode as month.description for month in codigo"></select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="padding-left: 78px;">
                    <button class="botonCalcular" ng-click="calculate(interest_rate /100 / meses.month, meses.month, -loan_amount)">Calcular</button>
                    <br>
                    <br>
                </div>
            </div>

            <div class="col-md-7">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tu inversión constará </h3>
                    </div>
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-sm" style="font-size:20px;">
                                <tr>
                                    <td>Con una tasa de:</td>
                                    <td>{{interest_rate}}%</td>
                                </tr>
                                <tr>
                                    <td>Con un monto de inversión:</td>
                                    <td>${{loan_amount}}.00 MXN</td>
                                </tr>
                                <tr>
                                    <td>Con un plazo de:</td>
                                    <td>{{meses.month}} meses</td>
                                </tr>
                                <tr>
                                    <td>Tendrás un rendimiento de:</td>
                                    <td>{{output}} MXN</td>
                                </tr>
                                <tr>
                                    <td>Y un pago mensual por {{months}} meses de:</td>
                                    <td>${{pmt}} MXN</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row footer-content">

                <div class="col-sm-offset-1 col-sm-10">

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-title">
                                MAPA DE SITIO
                            </div>
                            <div class="cont-m-sitio">
                                <ul class="mapa-sitio">
                                    <li><a href="https://www.finve.mx/">Inicio</a></li>
                                    <li><a href="https://www.finve.mx/prestamos-empresas/">Empresas</a></li>
                                    <li><a href="https://www.finve.mx/invertir-en-linea/">Inversionistas</a></li>
                                    <li><a href="https://plataforma.finve.mx/proyectos-inversion">Proyectos</a></li>
                                    <li><a href="https://www.finve.mx/como-funciona/">¿Cómo funciona?</a></li>
                                    <li><a href="https://www.finve.mx/quienes-somos/">¿Quiénes somos?</a></li>
                                    <li><a href="https://www.finve.mx/equipo-finve/">Equipo Finve</a></li>
                                    <li><a href="https://www.finve.mx/blog-finve/">Blog Finve</a></li>
                                    <li><a href="https://www.finve.mx/preguntas-frecuentes-faq/">Preguntas Frecuentes (FAQ)</a></li>
                                    <li><a href="https://www.finve.mx/glosario/">Glosario</a></li>
                                    <li><a href="https://www.finve.mx/contacto/">Contacto</a></li>
                                    <li><a href="https://www.finve.mx/terminos-y-condiciones-finve/">Términos y Condiciones</a></li>
                                    <li><a href="https://www.finve.mx/aviso-de-privacidad/">Aviso de Privacidad</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-3  col-sm-6">
                            <div class="footer-title">
                                REDES SOCIALES
                            </div>
                            <div class="social-link">
                                <ul class="list-inline">
                                    <li class="facebook small">
                                        <a href="https://www.facebook.com/finvemx/"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="google small">
                                        <a href="https://plus.google.com/b/114403030720927003746/+FinveMx/"><i class="fa fa-google-plus"></i></a>

                                    </li>
                                    <li class="instagram small">
                                        <a href="https://www.instagram.com/finvemx/"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="linkedin small">
                                        <a href="https://www.linkedin.com/company/finve"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li class="twitter small">
                                        <a href="https://twitter.com/finvemx"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="youtube small">
                                        <a href="https://www.finve.mx/#"><i class="fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="footer-title">
                                NUESTROS CONTACTOS
                            </div>

                            <div class="cont">
                                <p>
                                    <a class="green" href="tel:4442115742"> <i class="fa fa-mobile" style="font-size:30px;"></i>&nbsp;&nbsp;(444) 211 5742</a>
                                    <br>
                                    <br>
                                    <i class="fa fa-building-o" style="font-size:20px;"></i>&nbsp;&nbsp;Cordillera del Marquez 845-F Lomas 4ta Sección
                                    <br> CP 78210 San Luis Potosí, SLP.
                                    <br>
                                    <br>
                                    <a class="green" href="mailto:soporte@finve.mx"><i class="fa fa-envelope-o" style="font-size:20px;"></i>&nbsp;&nbsp;soporte@finve.mx</a>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <figure>
                                    <img src="https://www.finve.mx/wp-content/uploads/2016/01/finve_footer_r.png" alt="Finve Logo Blanco footer">
                                </figure>
                            </div>

                            <div class="cont">
                                <p>
                                    <br> En Finve, trabajamos para crear un ecosistema más favorable para las PyMEs, la base esencial de nuestra economía.
                                    <br>
                                    <strong>Quetzal Montes, Fundador.</strong>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="copyright">Grupo Finve SAPI de CV 2016 &copy; Todos los Derechos Reservados.</div>
        </div>
    </footer>

    <!-----------------------------------------------SCRIPTS---------------------------------------------------- -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="chat.js"></script>

</body>

</html>