@font-face {
    font-family: finveFont;
    src: url(Font/FinveFont.ttf);
}

body {
    /*font-family: BreveSansText-Medium;*/
    /*    font-family: 'Open Sans', sans-serif;*/
    font-family: finveFont;
    color: rgb(88, 89, 91);
    font-size: 16px;
}


/* LOADING */


/* PANEL DEL CARGANDO / PROCESANDO */

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 9999;
    text-align: center;
    display: none;
}

#loading-image {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 100;
    color: #3c8dbc;
    font-size: 150px;
}

.white {
    color: white
}

input.bold {
    font-family: "Open Sans", sans-serif;
    font-weight: bold
}

.input-strong input.form-control {
    font-family: "Open Sans", sans-serif;
    font-weight: bold
}


/* =========== COLORES =========== */

.black {
    color: rgb(88, 89, 91);
}

.yellow {
    color: rgb(238, 218, 0) !important;
}

.green {
    color: rgb(27, 176, 171) !important;
}


/*  =========== COLORES - FONDO ===========*/

.bg-verde {
    background-color: rgb(27, 176, 171) !important;
}

.bg-amarillo .btn-yellow {
    background-color: rgb(238, 218, 0) !important;
}


/* =========== Hs =========== */

h1,
h2,
h3,
h4,
h5 {
    font-family: finveFont;
}

h4 {
    text-transform: uppercase;
    border-bottom: solid 1px rgb(27, 176, 171);
    color: rgb(27, 176, 171);
    font-size: 18px;
}

h5 {
    text-transform: uppercase;
    border-bottom: solid 1px rgb(27, 176, 171);
    color: rgb(27, 176, 171);
}

.h1 {
    font-size: 36px;
    font-family: BreveSansText-Light
}


/*
input,
label,
a,
textarea {
    font-family: BreveSansText-Light
}
*/

a {
    color: rgb(27, 176, 171) !important;
    text-decoration: none !important;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border-radius: 0px !important;
    box-shadow: none !important;
    border-top: white !important;
    height: 30px !important;
    font-size: 16px !important;
}

textarea.form-control {
    box-shadow: none !important;
    border-top: white;
    border-radius: 0;
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(27, 176, 171);
    margin: 1em 0;
    padding: 0;
}

a.white {
    color: white !important;
}

.form-control[readonly] {
    background-color: white;
    border: none;
}


/* =========== ANCHOS =========== */

.full-width {
    width: 100%
}


/* =========== MARGINS =========== */

.m-top {
    margin: 15px 0 0 0 !important;
}

.m-top-20 {
    margin-top: 20px
}

.m-bottom-20 {
    margin-bottom: 20px
}

.m-right {
    margin: 0 15px 0 0 !important;
}

.m-bottom {
    margin: 0 0 15px 0
}

.m-top-sm {
    margin: 10px 0 0 0
}

.m-bottom-lg {
    margin: 0 0 30px 0
}

.m-top-7 {
    margin: 7px 0 0 0
}

.m-15 {
    margin: 15px
}

.m-left {
    margin: 0 0 0 15px
}

.m-left-lg {
    margin: 0 0 0 30px
}

.p-horizontal-sm {
    padding: 0 7px
}

.m-top-34 {
    margin-top: 34px
}


/* =========== NAVBAR =========== */

.navbar {
    min-height: 90px;
    border-radius: 0px;
}

.navbar img {
    max-height: 40px;
    margin: 10px 0 0 20px;
}

.navbar .btn-group {
    margin: 30px 0 0 20px;
}

.navbar select {
    margin: 35px 0 0 20px;
}

.navbar ul.navbar-nav {
    margin: 35px 0 0 0;
}

.navbar ul.navbar-nav.navbar-right {
    margin: 20px 0 0 0;
}

.navbar ul.navbar-nav>li.dropdown {
    background-color: rgb(27, 176, 171);
}

.navbar ul.navbar-nav>li.dropdown.transparent,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
}

.navbar ul.navbar-nav>li.dropdown>a {
    color: white !important;
    letter-spacing: 1.3px;
    font-size: 16px;
    margin-top: 3px;
    padding: 7px 15px;
}

.navbar ul.navbar-nav>li.dropdown.transparent>a {
    color: rgb(88, 89, 91) !important;
}

.navbar-nav > li > a {
    line-height: 0;
    /*font-family: MetaPro-Bold;*/
    font-family: BreveSansText-Light;
    /*font-weight: bold;*/
    text-transform: uppercase;
    color: rgb(88, 89, 91) !important;
}

.navbar-nav > li > a.bold {
    font-family: "Open Sans";
    font-weight: bold;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgb(27, 176, 171);
}


/* =========== BOTONES =========== */

.btn-group button {
    border-radius: 0
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 0;
}

.btn.capitalize {
    text-transform: capitalize !important;
    font-size: 17px;
    letter-spacing: 1px;
}

.btn-green,
.btn-green:hover {
    background-color: rgb(27, 176, 171) !important;
    color: white !important;
}

a.btn {
    color: white !important;
}

.btn-yellow,
a.btn-yellow {
    background-color: rgb(238, 218, 0) !important;
    color: rgb(88, 89, 91) !important;
}


/* =========== FOOTER =========== */

footer {
    /* background-color: rgb(160, 160, 160);
    min-height: 120px;*/
    /*position: absolute; perrini  - implementar el stiky footer
    bottom: -70px;*/
    margin-top: 50px;
    width: 100%;
    min-height: 120px;
    background-color: rgb(88, 89, 91);
    font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    font-weight: 300 !important;
}

footer figure {
    padding: 0px 0 20px 0;
}

footer figure>img {
    height: 50px;
    margin: 0 auto;
    display: block;
}

.footer-title {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    margin-bottom: 25px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
}

footer a {
    color: #fff !important;
    /*font-family: 'Lato', sans-serif !important;*/
    font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}

.mapa-sitio {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacto {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cont-m-sitio {
    text-align: left;
    font-size: 16px;
}

.footer .list-inline li {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 15px;
    margin: 7px 0;
}

.social-link i {
    color: #fff;
}

.social-link ul>li {
    font-size: 16px;
    list-style-type: none;
}

.facebook i {
    background: #3B5997;
}

.twitter i {
    background: #29C5F6;
}

.google i {
    background: #D13D2F;
}

.instagram i {
    background: rgb(61, 113, 155);
}

.linkedin i {
    background: rgb(0, 122, 177);
}

.youtube i {
    background: rgb(206, 51, 46);
}

.footer li {
    font-weight: 300;
}

.social-link li.small i {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.social-link li i {
    text-align: center;
    border-radius: 2px;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.50);
    border-bottom: 3px solid rgba(0, 0, 0, 0.30);
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.footer .footer-title {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    margin-bottom: 25px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
}

.footer .footer-content {
    padding: 65px 0 0;
}

.mapa-sitio {
    color: #00afa9;
}

.cont i {
    color: #00afa9;
}

.cont {
    color: #ffffff;
}

.footer p {
    font-size: 15px;
    line-height: 25px;
}

.footer p,
.footer li {
    font-weight: 300;
}

.cont {
    padding-bottom: 40px;
}

.cont p {
    text-align: justify;
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 0;
    font-weight: 300;
    opacity: 0.4;
    padding: 3%;
}


/* =========== PANEL =========== */

.panel-default {
    background-color: rgb(247, 247, 247);
    border-radius: 0;
    min-height: 100px;
}

.panel-default .panel-heading {
    border: none;
}

.panel-default .panel-heading {
    background-color: rgb(27, 176, 171);
    border-radius: 0;
    /*font-family: MetaPro-Bold;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.3px;
}

.progress-bar.finished {
    background-color: rgb(27, 176, 171);
}

.panel-default.transparent {
    background-color: white;
    border: none;
    box-shadow: none;
}

.panel-heading.capitalize {
    text-transform: capitalize;
}


/* =========== PANEL DE PROYECTO =========== */

.panel.project:hover {}

.panel.project .panel-body {
    padding: 0;
    background-color: white;
    color: rgb(88, 89, 91);
}

.panel.project figure {
    height: 180px;
    overflow: hidden
}

.panel img {
    margin: 0 auto;
    width: 100%
}

.panel.project .panel-footer {
    background-color: white;
    font-family: BreveSansText-Light;
    text-align: center;
    color: rgb(88, 89, 91);
}


/*.panel.project  .panel-footer strong{font-family: BreveSansText-Medium;}*/

.panel.project .panel-footer strong {
    font-family: 'Open Sans', sans-serif;
}

.panel .p-green {
    font-size: 85%;
    padding: 15px;
    text-align: justify;
    color: rgb(27, 176, 171);
}

.successfully-funded {
    font-size: 85%;
    text-align: center;
    color: rgb(27, 176, 171);
    font-weight: bold;
}

.overlay {
    width: 95%;
    height: 96%;
    background-color: gray;
    z-index: 1;
    position: absolute;
    opacity: 0;
}

.overlay.btn {
    position: absolute;
    top: 40%;
    left: 25%;
    opacity: 0;
    height: auto;
    z-index: 1;
    width: 50%;
}

.progress {
    border-radius: 0;
    margin: 5px;
}

.progress-bar {
    background-color: rgb(238, 218, 0);
    color: rgb(88, 89, 91);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.div-gris {
    z-index: 0;
    color: white;
    background-color: gray;
    opacity: .5;
    width: 90%;
    height: 95%;
    position: absolute;
}

.separator {
    border-bottom: solid 1px gray;
    padding: 5px;
}

.separator strong {
    font-family: 'Open Sans', sans-serif;
}


/* =========== SUMMERNOTE =========== */

.note-editor.panel-default {
    background: white;
}


/* =========== BANNER DE TITULO =========== */

.banner {
    margin: 10px 0 30px 0
}

.banner .btn {
    min-width: 220px
}

@media screen and (min-width: 768px) {
    .banner .btn-green {
        margin: 0 15px 0 0
    }
}


/* =========== LABEL =========== */

.form-horizontal .control-label {
    padding-top: 0;
}

div.well {
    border-radius: 0;
    padding: 15px;
}


/* =========== CONTROLES DESLIZABLES =========== */


/* Encabezado en el control */

.height-20 {
    height: 20px;
}


/* =========== TABLAS =========== */

table.table {
    font-family: BreveSansText-Light;
}

table.table-hover tbody>tr:hover {
    cursor: pointer;
    background-color: #E7E7E7;
}

table strong {
    font-family: "Open Sans", sans-serif;
}

.clickable {
    cursor: pointer;
    color: rgb(27, 176, 171);
    margin: 0 10px;
}


/* =========== FOMULARIO DE prÃ©stamo =========== */

.frm-loan {}

.frm-loan .panel-default {
    min-height: 120px;
}

.small-text {
    font-size: 12px;
    text-align: justify !important;
    font-family: BreveSansText-Light;
}

.medium-text {
    font-size: 14px;
    font-family: BreveSansText-Light;
}

ul.nav-tabs {
    background-color: rgb(27, 176, 171);
    text-transform: uppercase;
    border: none;
}

ul.nav-tabs>li {
    margin-bottom: -2px;
}

ul.nav-tabs>li>a {
    color: white !important;
    border: none;
    border-right: solid 1px white;
    border-radius: 0;
    margin-right: 0;
    min-width: 160px;
    text-align: center;
}

ul.nav-tabs>li>a:hover {
    background-color: rgb(238, 218, 0) !important;
    color: rgb(88, 89, 91) !important;
}

ul.nav-tabs>li.active>a {
    color: rgb(88, 89, 91) !important;
}

ul.nav-tabs>li.active>a:hover {
    background-color: white !important;
}


/* ESILOS PARA TABLETS TABLETAS */

@media screen and (max-width: 768px) {
    ul.nav-tabs>li {
        min-width: 100%;
    }
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        min-height: 90px;
    }
    .nav.navbar-nav.navbar-right li {
        text-align: right;
        margin-bottom: 10px;
    }
    .nav.navbar-nav>li.dropdown.open>ul>li>a {
        color: white !important;
    }
    .btn-big-on-sm {
        text-align: center;
    }
    .btn-big-on-sm>.btn {
        width: 60%;
    }
    .m-none-on-sm {
        margin: 0;
    }
    .modal-footer .btn + .btn {
        margin-left: 0px;
    }
    .m-none-sm {
        margin: 0
    }
}

.tab-content {
    border: 1px solid #dddddd;
    border-top: none;
}

.tab-content > .tab-pane {
    padding: 20px;
}

.thumbnail {
    background-color: #f8f8f8;
    min-height: 160px;
    border-radius: 0;
}

.thumbnail {
    text-align: center;
}

.thumbnail>i {
    margin-top: 60px;
}

.panel [name="description"] {
    /*height: 150px;*/
    overflow-y: auto;
    font-size: 14px;
}

@media screen and (min-width: 992px) {
    .panel [name="description"] {
        font-size: 13px;
    }
}

a.btn.fileinput-exists {
    color: #333333 !important;
    /*font-family: BreveSansText-Medium;*/
    font-family: 'Open Sans', sans-serif;
}

.btn-image {
    margin: 30px 20px 0px 20px;
    cursor: pointer;
}

.img-small {
    width: 100px;
    height: auto;
}


/* =========== ESTILOS PARA PANTALLAS DE MOVIL =========== */

.navbar-header>button.navbar-toggle {
    margin-top: 30px;
}

@media screen and (max-width: 490px) {
    .m-top-xs {
        margin-top: 15px;
    }
    .btn-big-on-sm>.btn {
        width: 100%;
    }
    .block-on-xs {
        display: block;
    }
}

.security {
    font-size: 12px;
}

.security img {
    display: inline-block;
    float: left;
    margin-right: 6px;
}

#openPayModalBody input.strong {
    font-weight: bold;
}

input[type="number"].investment-amount {
    font-weight: bold;
    font-size: 20px;
    height: 36px;
}

label.amount {
    font-size: 32px;
    color: rgb(254, 120, 0);
}

.blockquote-info {
    color: gray;
    font-style: italic;
    font-size: 9px;
    margin-bottom: 7px;
}

.bg-voucher {
    background-image: url('http://plataforma.finve.mx/img/basic/bg-voucher.png');
    background-size: 100%;
    background-position-y: -100px;
    padding-left: 120px;
    padding-right: 120px;
}


/*.h1{
     text-align: center;
     color: rgb(0, 175, 169);
     font-size: 50px;
 }*/

.h2 {
    text-align: center;
    color: rgb(0, 175, 169);
    font-size: 40px;
}

.nav-username {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px !important;
}

.nav-login {
    font-family: 'Lato', sans-serif !important;
    transition: all 0.4s ease;
    font-size: 14px !important;
}

.nav-login:hover {
    color: #eedc00 !important;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="number"] {
    width: 120px;
    height: 100%;
    font-size:20px;
    font-family: finveFont;
    padding-left: 30px;
}